In [49]:
import pandas as pd
import numpy as np

### Period

In [2]:
p = pd.Period(2010,freq='A-DEC')  # A-DEC: a year end at dec 2010
p # the period of 2010/1/1-2010/12/31

Period('2010', 'A-DEC')

In [8]:
p.asfreq('M','start')

Period('2010-01', 'M')

In [9]:
p.asfreq('M','end')

Period('2010-12', 'M')

In [3]:
p-2

Period('2008', 'A-DEC')

In [4]:
p+3

Period('2013', 'A-DEC')

In [10]:
p2 = pd.Period(2010,freq='A-JUN')
p2.asfreq('M','start')

Period('2009-07', 'M')

In [11]:
p2.asfreq('M','end')

Period('2010-06', 'M')

In [5]:
pd.Period(2015,freq='A-DEC')-p

### period_range

In [6]:
rng = pd.period_range('2000/1/1','2000/6/23',freq='M') # a regular period range
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [13]:
pd.Series(np.random.randn(6), index=rng)

2000-01    1.103860
2000-02   -0.637076
2000-03   -0.398122
2000-04    0.454234
2000-05    1.018979
2000-06    1.031087
Freq: M, dtype: float64

### PeriodIndex

In [14]:
values = ['2001Q3','2002Q2','2003Q1']
index = pd.PeriodIndex(values,freq="Q-DEC")
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

## Freq transform of period

In [19]:
p3 = pd.Period('Aug-2007',freq='M')  # one month ended at Aug 2007
p3

Period('2007-08', 'M')

In [20]:
p3.asfreq('M','start')

Period('2007-08', 'M')

In [21]:
p3.asfreq('M','end')

Period('2007-08', 'M')

In [22]:
p3.asfreq('A-JUN') # month->year, ended in jun 2008

Period('2008', 'A-JUN')

In [24]:
rng = pd.period_range('2006','2009',freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2006   -0.806769
2007    0.142040
2008   -0.035263
2009   -0.166110
Freq: A-DEC, dtype: float64

In [25]:
ts.asfreq('M',how='start')

2006-01   -0.806769
2007-01    0.142040
2008-01   -0.035263
2009-01   -0.166110
Freq: M, dtype: float64

In [27]:
ts.asfreq('B',how='end') # B: last working day

2006-12-29   -0.806769
2007-12-31    0.142040
2008-12-31   -0.035263
2009-12-31   -0.166110
Freq: B, dtype: float64

## Freq of period by season

In [36]:
p4 = pd.Period('2000Q4',freq='Q-JUN') # a season Q4 ended at jun 2000
p4

Period('2000Q4', 'Q-JUN')

In [37]:
p4.asfreq('D','start')

Period('2000-04-01', 'D')

In [38]:
p4.asfreq('D','end')

Period('2000-06-30', 'D')

In [40]:
# get the timestamp of the last 2 workday at 4pm
p4_4pm = (p4.asfreq('B','e')-1).asfreq('T','s')+16*60
p4_4pm

Period('2000-06-29 16:00', 'T')

In [41]:
# seasonal range
rng = pd.period_range('2000Q1','2002Q3',freq='Q-JAN')  # 2002Q3 ended at jan 2002
ts=pd.Series(np.arange(len(rng)),index=rng)
ts

2000Q1     0
2000Q2     1
2000Q3     2
2000Q4     3
2001Q1     4
2001Q2     5
2001Q3     6
2001Q4     7
2002Q1     8
2002Q2     9
2002Q3    10
Freq: Q-JAN, dtype: int64

In [45]:
ts['2000Q1']

0

In [43]:
new_rng = (rng.asfreq('B','e')-1).asfreq('T','s')+16*60
new_rng

PeriodIndex(['1999-04-29 16:00', '1999-07-29 16:00', '1999-10-28 16:00',
             '2000-01-28 16:00', '2000-04-27 16:00', '2000-07-28 16:00',
             '2000-10-30 16:00', '2001-01-30 16:00', '2001-04-27 16:00',
             '2001-07-30 16:00', '2001-10-30 16:00'],
            dtype='period[T]', freq='T')

In [46]:
ts.index=new_rng.to_timestamp()

In [47]:
ts

1999-04-29 16:00:00     0
1999-07-29 16:00:00     1
1999-10-28 16:00:00     2
2000-01-28 16:00:00     3
2000-04-27 16:00:00     4
2000-07-28 16:00:00     5
2000-10-30 16:00:00     6
2001-01-30 16:00:00     7
2001-04-27 16:00:00     8
2001-07-30 16:00:00     9
2001-10-30 16:00:00    10
dtype: int64

## Timestamp <-> Period

In [60]:
rng = pd.date_range('2000/1/1',periods=3,freq='M')
ts=pd.Series(np.random.randn(3),index=rng)
ts

2000-01-31   -0.585795
2000-02-29    0.045688
2000-03-31    0.459873
Freq: M, dtype: float64

In [61]:
pts = ts.to_period()
pts

2000-01   -0.585795
2000-02    0.045688
2000-03    0.459873
Freq: M, dtype: float64

In [63]:
rng2 = pd.date_range('2000/1/29',periods=6,freq='D')
ts2=pd.Series(np.random.randn(6),index=rng2)
ts2

2000-01-29    2.060008
2000-01-30    0.238608
2000-01-31   -0.996754
2000-02-01   -0.690026
2000-02-02    0.050351
2000-02-03   -0.726453
Freq: D, dtype: float64

In [65]:
ts2.to_period('M')

2000-01    2.060008
2000-01    0.238608
2000-01   -0.996754
2000-02   -0.690026
2000-02    0.050351
2000-02   -0.726453
Freq: M, dtype: float64

In [67]:
pts2=ts2.to_period()
pts2

2000-01-29    2.060008
2000-01-30    0.238608
2000-01-31   -0.996754
2000-02-01   -0.690026
2000-02-02    0.050351
2000-02-03   -0.726453
Freq: D, dtype: float64

In [68]:
pts2.to_timestamp(how='end')

2000-01-29 23:59:59.999999999    2.060008
2000-01-30 23:59:59.999999999    0.238608
2000-01-31 23:59:59.999999999   -0.996754
2000-02-01 23:59:59.999999999   -0.690026
2000-02-02 23:59:59.999999999    0.050351
2000-02-03 23:59:59.999999999   -0.726453
Freq: D, dtype: float64

### Use list to create PeriodIndex

In [69]:
year = [2000,2000,2000,2000,2001,2001,2001,2001,2002,2002,2002,2002,2003,2003,2003,2003]
quarter = [1.0,2.0,3.0,4.0,1.0,2.0,3.0,4.0,1.0,2.0,3.0,4.0,1.0,2.0,3.0,4.0]

In [70]:
index = pd.PeriodIndex(year=year,quarter=quarter,freq='Q-DEC')
index

PeriodIndex(['2000Q1', '2000Q2', '2000Q3', '2000Q4', '2001Q1', '2001Q2',
             '2001Q3', '2001Q4', '2002Q1', '2002Q2', '2002Q3', '2002Q4',
             '2003Q1', '2003Q2', '2003Q3', '2003Q4'],
            dtype='period[Q-DEC]', freq='Q-DEC')