In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')

In [4]:
df.shape

(891, 12)

In [8]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
# drop feature Cabin because the missing value rate it too high
# execution
df = df.drop('Cabin', axis=1)

In [15]:
median = df['Age'].median()
median

28.0

In [16]:
# replace NaN in Age by its median value
df['Age']=df['Age'].fillna(median)

In [17]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [18]:
df['Embarked'].value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

In [19]:
df['Embarked'].fillna(value='S', inplace=True) 
#replace it by the most common category: S

In [20]:
df['Embarked'].value_counts(dropna=False)

S    646
C    168
Q     77
Name: Embarked, dtype: int64