In [ ]:
# https://zhuanlan.zhihu.com/p/89558459
# https://www.lizenghai.com/archives/31314.html

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
X = df.drop(['variety'],axis=1)
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
y = df['variety']
y

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=0.20)

### Scaling: MinMaxScaler

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler = MinMaxScaler().fit(X_train)
X_train_mms = scaler.transform(X_train)
X_test_mms = scaler.transform(X_test)

### Standardization: StandardScaler

In [8]:
from sklearn.preprocessing import StandardScaler
# most commonly used!    x=(x-mean)/std

In [9]:
scaler = StandardScaler().fit(X_train)
X_train_ss = scaler.transform(X_train)
X_test_ss = scaler.transform(X_test)

### Normalizaton: Normalizer

In [10]:
from sklearn.preprocessing import Normalizer

In [11]:
scaler = Normalizer().fit(X_train)
X_train_n = scaler.transform(X_train)
X_test_n = scaler.transform(X_test)

### Binarization: Binarizer

In [12]:
from sklearn.preprocessing import Binarizer

In [13]:
scaler = Binarizer(threshold=3).fit(X_train)  # >3, get 1; <=3, get 0
X_train_b = scaler.transform(X_train)
X_test_b = scaler.transform(X_test)