## Date and time tools
+ date: yyyy,mm,dd
+ time: h,m,s,ms
+ datetime: y,m,d,h,m,s,ms
+ timedelta: difference of 2 datetimes (d,s,ms)

In [1]:
from datetime import datetime
import pandas as pd

In [2]:
now = datetime.now()
now

datetime.datetime(2020, 2, 1, 19, 36, 14, 462653)

In [3]:
now.year,now.month,now.day,now.hour,now.minute,now.second,now.microsecond

(2020, 2, 1, 19, 36, 14, 462653)

In [4]:
FY = datetime(2020,2,1)-datetime(1996,6,23)
FY

datetime.timedelta(days=8623)

In [5]:
FY.days

8623

In [6]:
from datetime import timedelta

In [7]:
start = datetime(2000,1,1)
start+FY

datetime.datetime(2023, 8, 11, 0, 0)

In [8]:
start+timedelta(10) # add 10 days

datetime.datetime(2000, 1, 11, 0, 0)

## str <- datetime

In [9]:
stamp = datetime(2020,2,2,14,15,30)
str(stamp)

'2020-02-02 14:15:30'

In [10]:
stamp.strftime('%Y-%m-%d') # set format

'2020-02-02'

In [11]:
stamp.strftime('%y-%m-%d')

'20-02-02'

In [12]:
stamp.strftime('%H:%M:%S')

'14:15:30'

In [13]:
stamp.strftime('%I:%M:%S')

'02:15:30'

## str -> datetime

In [14]:
value = '1996-06-23'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(1996, 6, 23, 0, 0)

In [15]:
many_time = ['04/23/2010','6/3/1982']
[datetime.strptime(x,'%m/%d/%Y') for x in many_time]

[datetime.datetime(2010, 4, 23, 0, 0), datetime.datetime(1982, 6, 3, 0, 0)]

## parse all kinds of date formats

In [16]:
from dateutil.parser import parse

In [17]:
parse('2012-3-14')

datetime.datetime(2012, 3, 14, 0, 0)

In [18]:
parse('Jan 31, 1992 10:42 PM')

datetime.datetime(1992, 1, 31, 22, 42)

In [19]:
parse('23/6/1996',dayfirst=True)

datetime.datetime(1996, 6, 23, 0, 0)

## parse many datetimes

In [20]:
datestrs = ['2019-05-23 12:20:39','2001-11-4 22:12:53']
pd.to_datetime(datestrs)

DatetimeIndex(['2019-05-23 12:20:39', '2001-11-04 22:12:53'], dtype='datetime64[ns]', freq=None)

## handle missing values: NaT

In [21]:
idx = pd.to_datetime(datestrs+[None])
idx

DatetimeIndex(['2019-05-23 12:20:39', '2001-11-04 22:12:53', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
idx[2]

NaT

In [23]:
pd.isnull(idx)

array([False, False,  True])