In [26]:
from datetime import datetime
import pandas as pd
import numpy as np

## Generate data range

In [2]:
index = pd.date_range('2012-04-01','2012-06-01')  # step = 1 day
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [4]:
pd.date_range(start='2012-04-01',periods=20)  # generate 20 days

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [5]:
pd.date_range(end='2012-04-01',periods=20)  # generate 20 days

DatetimeIndex(['2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-17', '2012-03-18', '2012-03-19', '2012-03-20',
               '2012-03-21', '2012-03-22', '2012-03-23', '2012-03-24',
               '2012-03-25', '2012-03-26', '2012-03-27', '2012-03-28',
               '2012-03-29', '2012-03-30', '2012-03-31', '2012-04-01'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range('2012-04-01','2012-06-01', freq='B') # freq='B' only generate workdays

DatetimeIndex(['2012-04-02', '2012-04-03', '2012-04-04', '2012-04-05',
               '2012-04-06', '2012-04-09', '2012-04-10', '2012-04-11',
               '2012-04-12', '2012-04-13', '2012-04-16', '2012-04-17',
               '2012-04-18', '2012-04-19', '2012-04-20', '2012-04-23',
               '2012-04-24', '2012-04-25', '2012-04-26', '2012-04-27',
               '2012-04-30', '2012-05-01', '2012-05-02', '2012-05-03',
               '2012-05-04', '2012-05-07', '2012-05-08', '2012-05-09',
               '2012-05-10', '2012-05-11', '2012-05-14', '2012-05-15',
               '2012-05-16', '2012-05-17', '2012-05-18', '2012-05-21',
               '2012-05-22', '2012-05-23', '2012-05-24', '2012-05-25',
               '2012-05-28', '2012-05-29', '2012-05-30', '2012-05-31',
               '2012-06-01'],
              dtype='datetime64[ns]', freq='B')

In [8]:
pd.date_range(start='2012-04-01 12:32:32',periods=4)

DatetimeIndex(['2012-04-01 12:32:32', '2012-04-02 12:32:32',
               '2012-04-03 12:32:32', '2012-04-04 12:32:32'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range(start='2012-04-01 12:32:32', periods=4, normalize=True)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04'], dtype='datetime64[ns]', freq='D')

## Freq & offset

In [12]:
from pandas.tseries.offsets import Hour,Minute

In [14]:
hour = Hour()
hour

In [15]:
hr4 = hour*4
hr4

In [16]:
pd.date_range('2012-04-01','2012-04-01 23:59', freq='4h')

DatetimeIndex(['2012-04-01 00:00:00', '2012-04-01 04:00:00',
               '2012-04-01 08:00:00', '2012-04-01 12:00:00',
               '2012-04-01 16:00:00', '2012-04-01 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [17]:
Hour(2)+Minute(15)

In [19]:
pd.date_range('2012-04-01', periods=10, freq='4h')

DatetimeIndex(['2012-04-01 00:00:00', '2012-04-01 04:00:00',
               '2012-04-01 08:00:00', '2012-04-01 12:00:00',
               '2012-04-01 16:00:00', '2012-04-01 20:00:00',
               '2012-04-02 00:00:00', '2012-04-02 04:00:00',
               '2012-04-02 08:00:00', '2012-04-02 12:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [20]:
pd.date_range('2012-04-01', periods=10, freq='1h30min')

DatetimeIndex(['2012-04-01 00:00:00', '2012-04-01 01:30:00',
               '2012-04-01 03:00:00', '2012-04-01 04:30:00',
               '2012-04-01 06:00:00', '2012-04-01 07:30:00',
               '2012-04-01 09:00:00', '2012-04-01 10:30:00',
               '2012-04-01 12:00:00', '2012-04-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [24]:
pd.date_range('2012-01-01','2012-08-01', freq='WOM-3FRI') # 3th Friday of each month

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

## Shifting data

In [27]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('2010/1/1',periods=4,freq='M'))

In [28]:
ts

2010-01-31   -1.007951
2010-02-28   -0.848232
2010-03-31    0.525171
2010-04-30   -1.443819
Freq: M, dtype: float64

In [32]:
ts.shift(1) # shift data

2010-01-31         NaN
2010-02-28   -1.007951
2010-03-31   -0.848232
2010-04-30    0.525171
Freq: M, dtype: float64

In [30]:
ts.shift(-2)

2010-01-31    0.525171
2010-02-28   -1.443819
2010-03-31         NaN
2010-04-30         NaN
Freq: M, dtype: float64

In [33]:
ts.shift(1,freq='M') # shift timestamp

2010-02-28   -1.007951
2010-03-31   -0.848232
2010-04-30    0.525171
2010-05-31   -1.443819
Freq: M, dtype: float64

In [34]:
ts.shift(3,freq='D') # shift timestamp

2010-02-03   -1.007951
2010-03-03   -0.848232
2010-04-03    0.525171
2010-05-03   -1.443819
dtype: float64

## Shifting date by offset

In [35]:
from pandas.tseries.offsets import Day,MonthEnd

In [36]:
now = datetime(2011,11,17)
now + 3*Day()

Timestamp('2011-11-20 00:00:00')

In [37]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [38]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [39]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [40]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [42]:
ts = pd.Series(np.random.randn(20),index=pd.date_range('2010/1/1',periods=20,freq='4d'))
ts

2010-01-01   -0.506671
2010-01-05    0.302358
2010-01-09    0.617959
2010-01-13   -0.650235
2010-01-17    0.645702
2010-01-21    0.193852
2010-01-25    0.410076
2010-01-29    0.564874
2010-02-02    1.418504
2010-02-06   -0.464235
2010-02-10   -0.922096
2010-02-14   -0.110546
2010-02-18   -0.839802
2010-02-22    0.133000
2010-02-26    1.139212
2010-03-02    0.584368
2010-03-06   -0.032139
2010-03-10   -0.203216
2010-03-14    1.327018
2010-03-18    0.151819
Freq: 4D, dtype: float64

In [43]:
ts.groupby(offset.rollforward).mean()

2010-01-31    0.197239
2010-02-28    0.050577
2010-03-31    0.365570
dtype: float64

In [44]:
# another way
ts.resample('M').mean()

2010-01-31    0.197239
2010-02-28    0.050577
2010-03-31    0.365570
Freq: M, dtype: float64