## Use pytz

In [1]:
import pytz

In [8]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [24]:
tz=pytz.timezone('US/Mountain')
tz

## Timezone transformation and localization

In [15]:
import pandas as pd
import numpy as np
rng = pd.date_range('2018/2/3 9:30', periods=6, freq='D')

In [16]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)
ts

2018-02-03 09:30:00    0.312729
2018-02-04 09:30:00    2.299243
2018-02-05 09:30:00    0.186806
2018-02-06 09:30:00    0.066334
2018-02-07 09:30:00    1.107590
2018-02-08 09:30:00    0.532008
Freq: D, dtype: float64

In [18]:
print(ts.index.tz)

None

In [19]:
pd.date_range('2020/2/3 9:30',periods=10,freq='D',tz='UTC')

DatetimeIndex(['2020-02-03 09:30:00+00:00', '2020-02-04 09:30:00+00:00',
               '2020-02-05 09:30:00+00:00', '2020-02-06 09:30:00+00:00',
               '2020-02-07 09:30:00+00:00', '2020-02-08 09:30:00+00:00',
               '2020-02-09 09:30:00+00:00', '2020-02-10 09:30:00+00:00',
               '2020-02-11 09:30:00+00:00', '2020-02-12 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [20]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2018-02-03 09:30:00+00:00    0.312729
2018-02-04 09:30:00+00:00    2.299243
2018-02-05 09:30:00+00:00    0.186806
2018-02-06 09:30:00+00:00    0.066334
2018-02-07 09:30:00+00:00    1.107590
2018-02-08 09:30:00+00:00    0.532008
Freq: D, dtype: float64

In [21]:
ts_utc.index

DatetimeIndex(['2018-02-03 09:30:00+00:00', '2018-02-04 09:30:00+00:00',
               '2018-02-05 09:30:00+00:00', '2018-02-06 09:30:00+00:00',
               '2018-02-07 09:30:00+00:00', '2018-02-08 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [22]:
ts_utc.tz_convert('America/New_York')

2018-02-03 04:30:00-05:00    0.312729
2018-02-04 04:30:00-05:00    2.299243
2018-02-05 04:30:00-05:00    0.186806
2018-02-06 04:30:00-05:00    0.066334
2018-02-07 04:30:00-05:00    1.107590
2018-02-08 04:30:00-05:00    0.532008
Freq: D, dtype: float64

In [26]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern

2018-02-03 09:30:00-05:00    0.312729
2018-02-04 09:30:00-05:00    2.299243
2018-02-05 09:30:00-05:00    0.186806
2018-02-06 09:30:00-05:00    0.066334
2018-02-07 09:30:00-05:00    1.107590
2018-02-08 09:30:00-05:00    0.532008
Freq: D, dtype: float64

In [27]:
ts_eastern.tz_convert('Europe/Berlin')

2018-02-03 15:30:00+01:00    0.312729
2018-02-04 15:30:00+01:00    2.299243
2018-02-05 15:30:00+01:00    0.186806
2018-02-06 15:30:00+01:00    0.066334
2018-02-07 15:30:00+01:00    1.107590
2018-02-08 15:30:00+01:00    0.532008
Freq: D, dtype: float64

In [28]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2018-02-03 09:30:00+08:00', '2018-02-04 09:30:00+08:00',
               '2018-02-05 09:30:00+08:00', '2018-02-06 09:30:00+08:00',
               '2018-02-07 09:30:00+08:00', '2018-02-08 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

## Handle timezone-aware Timestamp object

In [30]:
stamp = pd.Timestamp('1996-06-23 6:00')
stamp_utc = stamp.tz_localize('Asia/Shanghai')
stamp_utc.tz_convert('utc')

Timestamp('1996-06-22 22:00:00+0000', tz='UTC')

In [32]:
stamp_moscow = pd.Timestamp('1996/06/23 6:00',tz='Europe/Moscow')
stamp_moscow

Timestamp('1996-06-23 06:00:00+0400', tz='Europe/Moscow')

In [35]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012/11/13 0:30',tz='US/Eastern')
stamp+2*Hour() # 夏令时！

Timestamp('2012-11-13 02:30:00-0500', tz='US/Eastern')

## Calculation between time in different timezones

In [43]:
t = pd.date_range('2000/1/1 6:00',periods=5,freq='D')
ts = pd.Series(np.random.randn(len(t1)),index=t1)
ts_sh = ts1.tz_localize('Asia/Shanghai')
ts_sh

2000-01-01 06:00:00+08:00    0.005243
2000-01-02 06:00:00+08:00   -0.698018
2000-01-03 06:00:00+08:00    0.399351
2000-01-04 06:00:00+08:00    0.127663
2000-01-05 06:00:00+08:00   -0.587496
Freq: D, dtype: float64

In [45]:
ts_ny = ts_sh.tz_convert('America/New_York')
ts_ny

1999-12-31 17:00:00-05:00    0.005243
2000-01-01 17:00:00-05:00   -0.698018
2000-01-02 17:00:00-05:00    0.399351
2000-01-03 17:00:00-05:00    0.127663
2000-01-04 17:00:00-05:00   -0.587496
Freq: D, dtype: float64

In [46]:
result = ts_sh+ts_ny

In [47]:
result.index  # timestamps are saved in UTC

DatetimeIndex(['1999-12-31 22:00:00+00:00', '2000-01-01 22:00:00+00:00',
               '2000-01-02 22:00:00+00:00', '2000-01-03 22:00:00+00:00',
               '2000-01-04 22:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')