In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('http://bit.ly/kaggletrain')  #titanic
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.shape

(891, 12)

In [6]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
df = df.loc[df.Embarked.notna(),['Survived','Pclass','Sex','Embarked']]   
#select 4 cols, exclude the rows where Embarked is NaN
df.head()

   Survived  Pclass     Sex Embarked
0         0       3    male        S
1         1       1  female        C
2         1       3  female        S
3         1       1  female        S
4         0       3    male        S

In [9]:
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Embarked    0
dtype: int64

## Method 1

In [18]:
X = df.loc[:,['Pclass']]
X.shape

(889, 1)

In [20]:
y = df.Survived
y.shape

(889,)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
logreg = LogisticRegression(solver='lbfgs')

In [24]:
from sklearn.model_selection import cross_val_score

In [25]:
cross_val_score(logreg, X ,y, cv=5, scoring='accuracy').mean()

0.6783406335301212

In [26]:
y.value_counts(normalize=True)

0    0.617548
1    0.382452
Name: Survived, dtype: float64

In [27]:
df.head()

   Survived  Pclass     Sex Embarked
0         0       3    male        S
1         1       1  female        C
2         1       3  female        S
3         1       1  female        S
4         0       3    male        S

In [28]:
from sklearn.preprocessing import OneHotEncoder

In [30]:
ohe = OneHotEncoder(sparse=False)

In [33]:
ohe.fit_transform(df[['Sex']])

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [0., 1.]])

In [34]:
ohe.categories_

[array(['female', 'male'], dtype=object)]

In [36]:
ohe2 = OneHotEncoder(sparse=False)
ohe2.fit_transform(df[['Embarked']])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       ...,
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [37]:
ohe2.categories_

[array(['C', 'Q', 'S'], dtype=object)]

## Method 2

In [39]:
X = df.drop('Survived',axis='columns')
X.head()

   Pclass     Sex Embarked
0       3    male        S
1       1  female        C
2       3  female        S
3       1  female        S
4       3    male        S

In [40]:
from sklearn.compose import make_column_transformer

In [41]:
column_trains = make_column_transformer(
    (OneHotEncoder(),['Sex','Embarked']),
    remainder='passthrough')

In [42]:
column_trains.fit_transform(X)
#Sex Embarked Pclass

array([[0., 1., 0., 0., 1., 3.],
       [1., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 3.],
       ...,
       [1., 0., 0., 0., 1., 3.],
       [0., 1., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 3.]])

In [44]:
## use Pipeline
from sklearn.pipeline import make_pipeline

In [47]:
pipe = make_pipeline(column_trains, logreg)

In [49]:
#Cross validating a pipeline of steps that include pre-processing of data and model building
cross_val_score(pipe, X ,y, cv=5, scoring='accuracy').mean()

0.7727924839713071

In [50]:
X_new = X.sample(5, random_state=99)
X_new

     Pclass     Sex Embarked
599       1    male        C
512       1    male        S
273       1    male        C
215       1  female        C
790       3    male        Q

In [51]:
pipe.fit(X,y)  # pre-processing data (encode categorical features) automatically

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categorical_features=None,
                                                                categories=None,
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                n_values=None,
                                                                sparse=True),
                                                  ['Sex', 'Embarked'])],
                                   verbose=False)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='warn', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [52]:
pipe.predict(X_new)

array([1, 0, 1, 1, 0])