In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df=df[['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Fare','Embarked']]

In [5]:
df.loc[df['Sex']=='male','Sex']=0
df.loc[df['Sex']=='female','Sex']=1

df.loc[df['Embarked']=='S','Embarked']=0
df.loc[df['Embarked']=='C','Embarked']=1
df.loc[df['Embarked']=='Q','Embarked']=2

In [6]:
df.head()

   Survived  Pclass  Sex  SibSp  Parch     Fare Embarked
0         0       3    0      1      0   7.2500        0
1         1       1    1      1      0  71.2833        1
2         1       3    1      0      0   7.9250        0
3         1       1    1      1      0  53.1000        0
4         0       3    0      0      0   8.0500        0

In [7]:
df = df.astype(float)

In [8]:
titanicWithEmbarked = df[pd.isnull(df['Embarked']) == False]
titanicWithoutEmbarked = df[pd.isnull(df['Embarked'])]

In [9]:
titanicWithEmbarked.shape,titanicWithoutEmbarked.shape

((889, 7), (2, 7))

In [10]:
variables = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Fare']

In [11]:
rfc=RandomForestClassifier()

In [12]:
rfc.fit(titanicWithEmbarked[variables],titanicWithEmbarked['Embarked'])

/Users/FY/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [13]:
generatedEmbarkedValues = rfc.predict(X = titanicWithoutEmbarked[variables])

In [14]:
titanicWithoutEmbarked['Embarked'] = generatedEmbarkedValues.astype(int)
df = titanicWithEmbarked.append(titanicWithoutEmbarked)

/Users/FY/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [16]:
df.reset_index(inplace=True)
df.drop('index',inplace=True,axis=1)