In [1]:
import pandas as pd
import numpy as np
#Series是一种类似于一维数组的对象，它由一组数据（各种NumPy数据类型）以及一组与之相关的数据标签（即索引）组成。

In [2]:
series1 = pd.Series([3, 5, 'test', -5, 0.3])
series1   # auto create index

0       3
1       5
2    test
3      -5
4     0.3
dtype: object

In [4]:
# use index   #创建Series带有一个可以对各个数据点进行标记的索引:
series2 = pd.Series([3, 5, 'test', -5, 0.3], index = ['A', 'B', 'C', 'D', 'E'])
series2

A       3
B       5
C    test
D      -5
E     0.3
dtype: object

In [6]:
# use dict to create Series
companies = {'Baidu': 400, 'Alibaba': 500, 'Tecent': 600, 'Jingdong': 300}
series3 = pd.Series(companies)
series3

Baidu       400
Alibaba     500
Tecent      600
Jingdong    300
dtype: int64

In [8]:
# Series数据选择

# 通过index选择数据
series3['Baidu']

400

In [9]:
# 选择多个数据
series3[['Baidu', 'Tecent']]

Baidu     400
Tecent    600
dtype: int64

In [10]:
series3 < 500

Baidu        True
Alibaba     False
Tecent      False
Jingdong     True
dtype: bool

In [11]:
temp = series3 < 500
series3[temp]

Baidu       400
Jingdong    300
dtype: int64

In [12]:
# Series元素赋值
print('old value: ', series3['Baidu'])
series3['Baidu'] = 450
print('new value: ', series3['Baidu'])

old value:  400
new value:  450

In [15]:
# 根据条件赋值
print ('old series: ')
print(series3)
series3[series3 < 500] = 500
print ('new series: ')
print(series3)

old series:
Baidu       500
Alibaba     500
Tecent      600
Jingdong    500
dtype: int64
new series:
Baidu       500
Alibaba     500
Tecent      600
Jingdong    500
dtype: int64

In [16]:
# Series数学运算
print ('Division: ')
print (series3 / 2)
print ('Square: ')
print (series3 ** 2)
print (np.square(series3))

Division:
Baidu       250.0
Alibaba     250.0
Tecent      300.0
Jingdong    250.0
dtype: float64
Square:
Baidu       250000
Alibaba     250000
Tecent      360000
Jingdong    250000
dtype: int64
Baidu       250000
Alibaba     250000
Tecent      360000
Jingdong    250000
dtype: int64

In [17]:
# 定义新的Series, 公司人数
people = {'Baidu': 50000, 'Alibaba': 45000, 'Tecent': 60000, 'Jingdong': 80000, 'Netease': 30000}
series4 = pd.Series(people)
series4

Baidu       50000
Alibaba     45000
Tecent      60000
Jingdong    80000
Netease     30000
dtype: int64

In [18]:
# Series相加, series3没有Netease, 因此结果为NaN
series3 + series4

Alibaba     45500.0
Baidu       50500.0
Jingdong    80500.0
Netease         NaN
Tecent      60600.0
dtype: float64

In [19]:
# 判断数据是否数据缺失
print ('Netease' in series3)
print ('Baidu' in series3)

False
True

In [24]:
# 找出数据为null或非null的元素
result = series3 + series4
print (result.notnull())
print ()
print (result.isnull())
print ()
print (result[result.isnull()])
print ()
print (result[result.isnull() != True])

Alibaba      True
Baidu        True
Jingdong     True
Netease     False
Tecent       True
dtype: bool

Alibaba     False
Baidu       False
Jingdong    False
Netease      True
Tecent      False
dtype: bool

Netease   NaN
dtype: float64

Alibaba     45500.0
Baidu       50500.0
Jingdong    80500.0
Tecent      60600.0
dtype: float64